<!DOCTYPE html>
<html ng-app="MyApp" >
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/angular-material.css">
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-animate/angular-animate.min.js"></script>
    <script src="../Scripts/angular-aria/angular-aria.min.js"></script>
    <script src="../Scripts/angular-messages.min.js"></script>
    <script src="../Scripts/angular-material/angular-material.min.js"></script>
    <script src="../Scripts/momentjs/moment.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <script>

        var myapp = angular.module('MyApp', ['ngMaterial', 'ngMessages']);
           myapp.controller('AppCtrl', function ($scope) {
                $scope.myDate = new Date();
                $scope.minDate = new Date($scope.myDate.getFullYear(), $scope.myDate.getMonth() - 2, $scope.myDate.getDate());
                $scope.maxDate = new Date($scope.myDate.getFullYear(), $scope.myDate.getMonth() + 2, $scope.myDate.getDate());                
            });
            myapp.config(function ($mdDateLocaleProvider) {
     $mdDateLocaleProvider.formatDate = function (date) {
                    return moment(date).format('ddd DD-MMM-YYYY');
                }
            });
    </script>
</head>
<body>

  
        <div ng-controller="AppCtrl">
            <md-content>
                <!--<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>-->
            <md-datepicker ng-model="myDate" name="dateField"  md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
            </md-content>
        </div>
       
    </body>
</html>
