<!DOCTYPE html>
<html ng-app="MyApp" >
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../Content/angular-material.css">
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-animate/angular-animate.min.js"></script>
    <script src="../Scripts/angular-aria/angular-aria.min.js"></script>
    <!--<script src="../Scripts/angular-messages.min.js"></script>-->
    <script src="../Scripts/angular-material/angular-material.min.js"></script>
    <script src="../Scripts/momentjs/moment.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <script>

        var myapp = angular.module('MyApp', ['ngMaterial']);
        myapp.controller('AppCtrl', function ($scope) {
                var plus3day = new Date();
                $scope.myDate = new Date(plus3day.getFullYear(), plus3day.getMonth(), plus3day.getDate() + 3);
                $scope.minDate = new Date($scope.myDate.getFullYear(), $scope.myDate.getMonth(), $scope.myDate.getDate());
                $scope.maxDate = new Date($scope.myDate.getFullYear() + 1, $scope.myDate.getMonth(), $scope.myDate.getDate() - 10);
                $scope.ReturnmyDate = $scope.myDate;
                $scope.ReturnminDate = $scope.minDate;
                $scope.ReturnmaxDate = $scope.maxDate;
                $scope.change = function (ss) {
                    //debugger;
                    var plus7day = new Date(ss);
                    $scope.ReturnmyDate = new Date(plus7day.getFullYear(), plus7day.getMonth(), plus7day.getDate() + 6);
                    $scope.ReturnminDate = new Date(plus7day.getFullYear(), plus7day.getMonth(), plus7day.getDate() + 1);
                    $scope.ReturnmaxDate = new Date($scope.ReturnmyDate.getFullYear() + 1, $scope.ReturnmyDate.getMonth(), $scope.ReturnmyDate.getDate());
                };

        });
        myapp.config(function ($mdDateLocaleProvider) {
            $mdDateLocaleProvider.formatDate = function (date) {
                return moment(date).format('ddd DD-MMM-YYYY');
            }
        });
    </script>
</head>
<body>  
        <div ng-controller="AppCtrl">
            <md-content>
                <md-datepicker id="depDate" ng-model="myDate" name="depdateField" md-min-date="minDate" md-max-date="maxDate"  ng-change="change(myDate);"></md-datepicker>
                <md-datepicker id="returnDate"  ng-model="ReturnmyDate" name="returndateField" md-min-date="ReturnminDate" md-max-date="ReturnmaxDate"></md-datepicker>
            </md-content>
        </div>
    </body>
</html>
