<table class="table-bordered table-hover" >
    <tr>        
        <td class="text-center text-warning">Enter first name:</td>
        <td>
            <input type="text" ng-model="Empolyee.fname" class="form-control">
        </td>
    </tr>
    <tr>
        <td class="text-center text-warning">Enter last name: </td>
        <td>
            <input type="text" ng-model="Empolyee.lname" class="form-control">
        </td>
    </tr>
    <tr>
        <td class="text-center text-warning">Enter Address: </td>
        <td>
            <input type="text" ng-model="Empolyee.Add1" class="form-control">
        </td>
    </tr>
</table>